body {
  width: 100%;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 8px;
}

input[type="file"] {
  margin-bottom: 10px;
  border: 10px solid wheat;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
  cursor: pointer;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background-color: #0056b3;
}

span {
  color: #007bff;
}

audio {
  width: 100%;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button.reset {
  margin-top: 20px;
  background-color: #dc3545;
}

button.reset:hover {
  background-color: #c82333;
}
.play {
  width: 100%;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
h2 {
  margin-bottom: 20px;
}
